<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ видеофрагментов с помощью нейронных сетей</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <h1>Анализ видеофрагментов с помощью нейронных сетей</h1>
        <div class="auth-container">
            <button class="auth-button" onclick="location.href='/redirect_page'">Вход / Регистрация</button>
        </div>
    </header>

    <main>
        <section class="networks">
            <h2>Наши нейронные сети</h2>
            <div class="network-card">
                <h3>Классификация действий</h3>
                <p>Описание нейронной сети...</p>
            </div>
            <div class="network-card">
                <h3>Оригинальность видео</h3>
                <p>Описание нейронной сети...</p>
            </div>
        </section>

        <section class="upload">
            <h2>Загрузите видео</h2>
            <div class="video">
                <form method="POST">
                    <button onclick="document.getElementById('video-file').click()" class="upload-button">+</button>
                    <input type="file" id="video-file" accept="video/*" style="display: none;">
                </form>
            </div>
            <div class="result-container" style="display: none;">
                <p class="result-text"></p>
                <img class="result-image" src="" style="display: none;">
            </div>
            <div class="balance-container">
                <p class="cost-text">Количество бесплатных запросов: </p>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2024 Самарский университет by Vladimirscrew, Yagermeister</p>
    </footer>

</body>
</html>